@charset "UTF-8";

@media screen and (min-width: 768px){

    /*------------------ HEADER -------------*/
    #burguer{
        display: none;
    }

    .tittle{
        order: 1;
        display: flex;
        position: relative;
        left: 20px;
    }

    .login{
        order: 3;
    }

    .NavBarra .MenuBarra{
        /*background-color: red;*/
        
        order: 2;
        display: flex;
        position: relative;
        left: 20px;
        gap: 2em;

        font-size: .8em;
        height: 30px;
    }

    
}