@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: black;
    background: url('../imagens/pexels-riccardo-69903.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

/*----------------------- HEADER ------------------*/

header{
    background-color: black;
    position: fixed;
    padding: 0.2em;
    width: 100vw;
}

.NavBarra{
    width: 100%;
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.NavBarra .MenuBarra{
    display: none;
    padding-top: 5px;
}

.NavBarra .MenuBarra > li:hover::after{
    content: "";
    display: block;
    background-color: orange;
    height: 3px;
    border-radius: 10px;
}

/*.NavBarra .MenuBarra > li >a:hover{
    color: orange;
}*/

#burguer{
    /*background-color: brown;*/
    color: white;

    display: block;
    position: relative;
    left: 20px;
    
    width: 35px;
    height: 35px;
    padding: 5px;
    
    user-select: none;
    cursor: pointer;
    font-size: 1.5em;
}

.tittle{
    /*background-color: white;*/

    height: 30px;
    width: 110px;
    padding-top: 5px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.tittle > p{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
    user-select: none;
}

.tittle > p::after{
    content: "";
    display: block;
    height: 3px;
    width: 110px;
    background-color: white;
    border-radius: 10px;
}

.login{
    background-color: rgb(255, 2, 2);
    color: white;

    padding: 0.5em 1em;
    border-radius: 6px;
    border: none;

    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    cursor: pointer;

    display: block;
    position: relative;
    right: 20px;
      
}

.login:hover{
    background-color: rgb(201, 2, 2);
    scale: 1.05;
}

/* ---------------- [MAIN] BARRA COLUNA ----------------*/

.MenuColuna{
    display: none;
    width: 240px;
    left: -240px;
    height: 100vh;

    background-color: black;

}

.MenuColuna .BurgerMenu{
    display: block;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    /*background-color: orange;*/
}

.MenuColuna .BurgerMenu > li{
    /*background-color: blue;*/
    padding: 15px 0px 15px 0px;
    margin-bottom: 3px;
    cursor: pointer;
}

.MenuColuna .BurgerMenu > li:hover{
    background-color: rgb(233, 6, 6);
}

/* ---------------- MAIN -------------------*/

main > section{
    background-color: white;
    padding: 30px;
    text-align: justify;
    text-indent: 20px;

    display: block;
    width: 290px;
    margin: 0 auto;
}
